<header>
  <!-- Navbar -->
  <nav class="py-2 bg-light">
    <div class="container-fluid">
      <div class="row">
        <div class="col ps-4">
          <img id="logo" src="/assets/logo.png" alt="logo">
          <span class="text-uppercase lead ps-3 pe-1 border-end">LOGO</span>
          <span class="text-bold px-1">Portal Teste</span>
        </div>
        <div class="col">
          <ul class="nav justify-content-end me-3">
            <li class="nav-item">
              <a class="nav-link nav-link-text" href="#">
                <i class="bi bi-gear"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-text" href="#">
                Sair
                <i class="bi bi-box-arrow-right"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <!-- // Navbar -->
</header>