<div class="tab-pane" id="itens" role="tabpanel"
  aria-labelledby="itens-tab"
>
  <app-card HFF justifyHeaderContent='between' noFooter>
    <span title>Itens</span>
    <button header-after class="btn btn-primary btn-sm" data-bs-toggle="modal"
      data-bs-target="#addItemModal"
    ><i class="bi bi-plus-lg"></i></button>
    
    <table body class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Serviço</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Valor unitário</th>
          <th scope="col">Valor total</th>
          <th scope="col">Itens</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="v-align-middle">1</th>
          <td class="v-align-middle">Serviço 1</td>
          <td class="v-align-middle">1</td>
          <td class="v-align-middle">10,00</td>
          <td class="v-align-middle">10,00</td>
          <td class="v-align-middle">
            <button class="btn btn-primary btn-sm"
              data-bs-toggle="modal"
              data-bs-target="#itensModal"
            >
              <i class="bi bi-search"></i>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4"><strong>Total</strong></td>
          <td>R$ 0,00</td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </app-card>
</div>

<!-- Show item modal -->
<app-modal id="itensModal" aria-labelledby="itensModalLabel" aria-hidden="true">
  <span title>Visualizar item</span>

  <dl body class="row">
    <dt class="col-sm-5">Número da ordem</dt>
    <dd class="col-sm-3">123456</dd>
    <dt class="col-sm-5">Projeto</dt>
    <dd class="col-sm-3">Projeto 1</dd>
  </dl>
</app-modal>
<!-- //Show item modal -->

 <!-- Add item modal-->
<app-modal closeBtnSecondary modalSize="lg" id="addItemModal" 
  aria-labelledby="itensModalLabel" aria-hidden="true"
>
  <span title>Adicionar item</span>
    <form body class="p-1">
      <div class="row">
        <div class="col-sm-4">
          <label for="modal-prestador" class="form-label">
            Prestador (razão social)
          </label>
          <input type="text" 
          class="form-control disabled"
          id="modal-prestador"
          >
        </div> 
        <div class="col-sm-4">
          <label for="modal-ordem" class="form-label">
            Ordem
          </label>
          <input type="text" 
          class="form-control disabled"
          id="modal-ordem"
          >
        </div> 
        <div class="col-sm-4">
          <label for="modal-item-ordem" class="form-label">
            Item Ordem
          </label>
          <input type="text" 
            class="form-control disabled"
            id="modal-item-ordem"
          >
        </div> 
      </div> 
    </form>
  <button footer-after type="button" class="btn btn-primary">Adicionar</button>
</app-modal>
 <!-- // Add item modal-->