<app-card HFF noFooter>
  <span title>Projetos</span>
  
  <table body class="table">
    <thead>
      <tr>
        <th scope="col" class="col-sm-3">#</th>
        <th scope="col" *ngFor="let col of tableColumns;">{{ col }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of projects; let i = index;">
        <th scope="row">{{ i }}</th>
        <td>{{ p.nome }}</td>
        <td>{{ p.valorTotal }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2"><strong>Total</strong></td>
        <td>10,00</td>
      </tr>
    </tfoot>
  </table>

</app-card>