<app-card HFF noFooter>
  <span title>Projetos</span>

  <table body class="table">
    <thead>
      <tr>
        <th scope="col" class="col-1">#</th>
        <th scope="col" *ngFor="let col of tableColumns;">{{ col }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of projects; let i = index;">
        <th scope="row">{{ i }}</th>
        <td>{{ p.nome }}</td>
        <td>{{ p.orcamento | currency:'BRL' }}</td>
        <td>{{ p.orcRestante | currency:'BRL' }}</td>
        <td>{{ p.orcamento - p.orcRestante | currency:'BRL' }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
      </tr>
    </tfoot>
  </table>

</app-card>
