<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Início</a></li>
    <li class="breadcrumb-item"><a href="index.html">Contratos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Cadastrar</li>
  </ol>
</nav>

<main>
  <app-card HFF justifyFooterContent="end">
    <span title>Cadastro de Contrato</span>

    <div body class="pb-2">
      <!-- Tab headers -->
      <ul class="nav nav-tabs" id="cadastroTabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="geral-tab" data-bs-toggle="tab"
            data-bs-target="#geral" type="button" role="tab" aria-controls="geral"
            aria-selected="true"
          >Geral</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="itens-tab" data-bs-toggle="tab"
            data-bs-target="#itens" type="button" role="tab" 
            aria-controls="itens" aria-selected="false"
          >Itens</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="projetos-tab" data-bs-toggle="tab"
            data-bs-target="#projetos" type="button" role="tab" 
            aria-controls="projetos" aria-selected="false"
          >Projetos</button>
        </li>
      </ul>
      <!-- // Tab headers -->
      
      <div class="tab-content">
        <!-- Geral -->
        <div class="tab-pane show active" id="geral" role="tabpanel"
          aria-labelledby="geral-tab"
        >
          <app-geral-tab></app-geral-tab>
        </div>
        <!-- // Geral -->

        <!-- Itens -->
        <div class="tab-pane" id="itens" role="tabpanel"
          aria-labelledby="itens-tab"
        >
          <app-itens-tab></app-itens-tab>        
        </div>
        <!-- // Itens -->

        <!-- Projetos -->
        <div class="tab-pane" id="projetos" role="tabpanel"
          aria-labelledby="projetos-tab"
        >
          <app-projetos-tab></app-projetos-tab>
        </div>
        <!-- // Projetos -->
      
      </div>
    </div>

    <div footer class="btn-group gap-1" role="group" aria-label="Basic example">
      <button type="submit" class="btn btn-secondary">voltar</button>
      <button type="submit" class="btn btn-primary">enviar</button>
    </div>
  </app-card>
</main>