<form class="mt-3">
  <div class="row g-3">
    <div class="col">
      <label for="numero" class="form-label">Número (nnn/aaaa)</label>
      <input type="text" readonly class="form-control disabled" id="numero" disabled>
    </div>
    <div class="col">
      <label for="prestador" class="form-label">
        Prestador (razão social)
      </label>
      <input type="text" readonly class="form-control disabled" id="prestador" disabled>
    </div>
    <div class="col">
      <label for="valor" class="form-label">Valor</label>
      <input type="number" readonly class="form-control disabled" id="valor" disabled>
    </div>
  </div>

  <div class="row g-3">
    <div class="col">
      <label for="inicio_vigencia" class="form-label">
        Inicio da vigência
      </label>
      <input type="date" class="form-control" 
        id="inicio_vigencia"
      >
    </div>
    <div class="col">
      <label for="termino_vigencia" class="form-label">
        Termino da vigência
      </label>
      <input type="date" class="form-control"
        id="termino_vigencia"
      >
    </div>
  </div>

  <div class="row g-3">
    <div class="col">
      <label for="objeto" class="form-label">
        Objeto
      </label>
      <textarea class="form-control" 
        id="objeto"
      ></textarea>
    </div>
  </div>  
</form>