@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons";


#objeto {
    height: 20vh;
}

.card-title {
    margin: 0;
}

.v-align-middle {
    vertical-align: middle;
}



.breadcrumb {
    padding: 0.5rem 1rem;
    background-color: var(--bs-light);
}

