@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons";


#objeto {
    height: 20vh;
}

.v-align-middle {
    vertical-align: middle;
}

input.ng-invalid.ng-touched {
  border-color: red;
}

a:hover {
  cursor: pointer;
}

.edit {
  color: #2518FF;

  :hover {
    color: #928CEF;
  }
}

.delete {
  margin-left: 6px;
  color: #FF0B00;

  :hover {
    color: #FF6B64;
  }
}
